<!DOCTYPE html>
<html>

<head>
	<% include head.html %>
</head>

<body>
	<div class="wrapper">
		<% include header.html %>
	</div>

	<div class="content">

		<div class="fl w-50 pa2">
			<form class="pa4 black-80" id="uploadForm" enctype="multipart/form-data" action="/api/photo" method="post">
				<div class="measure">
					<label for="name" class="f6 b db mb2">City</label>
					<input id="city" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" aria-describedby="name-desc" required>
					<small id="name-desc" class="f6 black-60 db mb2">Enter the city name</small>
				</div>
				<br />
				<div class="measure">
					<label for="name" class="f6 b db mb2">Location</label>
					<input id="lng" class="input-reset ba b--black-20 pa2 mb2" type="text" aria-describedby="name-desc"  required>
					<input id="lat" class="input-reset ba b--black-20 pa2 mb2" type="text" aria-describedby="name-desc" required>
					<small id="name-desc" class="f6 black-60 db mb2">longitude and Latitude</small>
				</div>
				<br />
				<div>
					<label for="comment" class="f6 b db mb2">Feedback
						<span class="normal black-60">(optional)</span>
					</label>
					<textarea id="feedback" name="comment" class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" aria-describedby="comment-desc"></textarea>
					<small id="comment-desc" class="f6 black-60">Give your valuable feedback</small>
				</div>
				<br />
				<div class="measure">
					<label for="name" class="f6 b db mb2">Picture</label>
					<input id="image" name="userPhoto" class="input-reset ba b--black-20 pa2 mb2" type="file" aria-describedby="name-desc" accept="image/*"
					 onchange="readURL(this);" required>
					<div id="img">
						<img id="blah" class="mw-100" src="" />
					</div>
				</div>
				<br />
				<div class="measure">
					<label for="name" class="f6 b db mb2">Avaiable time</label>
					<select name="time" id="tm" style="width:50%;height:35px;">
						<option value="sel1">Select particular time</option>
						<option value="our"  id="sel2">6 hour</option>
						<option value="our" id="sel3">12 hour</option>
						<option value="our" id="sel4">24 hour</option>
						<option value="forever" id="sel5">Forever</option>
					</select>
				</div>
				<br>
				<div class="mt3">
					<input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 submit" type="submit" value="Submit" style="margin-bottom: 85px;">
				</div>

			</form>

		</div>

		<div class="fl w-50 pa2" style="position: relative;">

			<div class="fl w-100 pa2">
				<div id="map"></div>
			</div>
		</div>
	</div>

	<% include footer.html %>

		<script type="text/javascript" src="./javascripts/geoLocation.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
		<script type="text/javascript" src="./javascripts/postData.js"></script>
		<script type="text/javascript" src="./javascripts/geoLocation.js"></script>
		<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4-9il2EZhZw3_6o07VQ4YWL8hMXWRPEI">
		</script>

		<script type="text/javascript">

			$(function () {
				loadDoc()

			});
			function readURL(input) {

				if (input.files && input.files[0]) {
					var reader = new FileReader();

					reader.onload = function (e) {
						$('#blah')
							.attr('src', e.target.result);
					};

					reader.readAsDataURL(input.files[0]);
				}
			}

		</script>
</body>

</html>
