<!DOCTYPE html>
<html>

<head>
  <% include head.html %>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */

      #map {
        width: 100%;
        height: 85%;
      }

      /* Optional: Makes the sample page fill the window. */

      html,
      body {
        height: 100%;
        padding: 0;
      }
    </style>



</head>

<body>
  <header class="bg-near-white fixed w-100 ph3 pv3 pv4-ns ph4-m ph5-l" style="z-index: 3">
    <nav class="f6 fw6 ttu tracked">
      <a href="/" class="title link white dib mr3" href="#" title="Home">sauchalaya.in</a>
      <a href="/" class="title link white dib mr3 tc" href="#" title="Home">-4°</a>
      <!-- <button onClick="getOfflineData()">Offline</button> -->

    </nav>
  </header>

  <div class="fl w-100" id="map"></div>


  <% include footer.html %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJ6oNsUFLrnQQok2DDYNwTjMNRFVVSiGk&libraries=places,visualization"
      async defer></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="./javascripts/geoLocation.js"></script>

    <script>
      var count = 0;
      var zoom = 12;
      var loc = { lat: parseFloat(location[0]), lng: parseFloat(location[1]) };
      var center = { lat: parseFloat(location[0]), lng: parseFloat(location[1]) };
      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
      $(function () {
        loadDoc()

      });
      var map;
      var infoWindow;
      var service;

      function initMap(location) {
        console.log('here')
        console.log(location);
        if (location) {
          loc = { lat: parseFloat(location[0]), lng: parseFloat(location[1]) };
          map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: loc,
            mapTypeId: "terrain",
            styles: [{
              stylers: [{ visibility: 'simplified' }]
            }, {
              elementType: 'labels',
              stylers: [{ visibility: 'yes' }]
            }]
          });
          google.maps.draggable = false;


          infoWindow = new google.maps.InfoWindow();
          service = new google.maps.places.PlacesService(map);

          // The idle event is a debounced event, so we can query & listen without
          // throwing too many requests at the server.
          map.addListener('idle', performSearch);
        }

      }

      function performSearch() {

        var request = {
          bounds: map.getBounds(),
          keyword: 'toilet'
        };
        service.radarSearch(request, callback);
      }

      function callback(results, status) {

        if (status == "ZERO_RESULTS") {

          count++;
          console.log(count)
          data = { count }
          $.ajax({
            url: '/count',
            type: 'POST',
            data: (data),
            dataType: 'json',
          }).done(function (data) {
            console.log(data);
          });
        }
        if (status !== google.maps.places.PlacesServiceStatus.OK) {
          console.error(status);
          return;
        }
        for (var i = 0, result; result = results[i]; i++) {
          addMarker(result);
        }
      }

      function addMarker(place) {
        zoom = map.getZoom();
        center = map.getCenter();
        console.log("center ", center)
        console.log("zoomed", zoom)
        console.log(place.geometry.location)
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location,
          icon: {
            url: './img/mark.png',
            anchor: new google.maps.Point(23, 50),
            scaledSize: new google.maps.Size(40, 40)
          }
        });

        function addDataBaseMarker(place) {

        }

        google.maps.event.addListener(marker, 'click', function () {
          console.log("zoomed")
          service.getDetails(place, function (result, status) {
            if (status !== google.maps.places.PlacesServiceStatus.OK) {
              console.error(status);
              return;
            }
            infoWindow.setContent(result.name + '<br />' + "Score: " + (Math.floor(Math.random() * 5)).toString() + '<br />' + "availibility : NA");

            infoWindow.open(map, marker);
          })
            ;
        });
      }

      function getOfflineData() {
        console.log("zoom:", zoom, loc, center.lat(), center.lng())
        data = { 'zoom': zoom, 'lat': loc.lat, 'lng': loc.lng, 'clat': center.lat(), 'clng': center.lng() }
        $.ajax({
          url: '/offlineData',
          type: 'POST',
          data: (data),
          dataType: 'json',
        }).done(function (data) {
          console.log(data);
          if (typeof (Storage) !== "undefined") {
            // Store
            localStorage.setItem("data", data);

          }
        });

      }
    </script>

</body>

</html>
